<%- include('./layouts/_header.ejs') %>
<!-- Other Activities -->
<section>
	<div class="container p-sm-5">
		<h1>Up Coming Events</h1>
	</div>

	<div class="container">
		<div class="row">
			<div>
				<img src="/images/carousel2.jpg" alt="1" class="img-fluid" />

				<div class="card-body">
					<h3>Event name</h3>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vel
					quod mollitia vero blanditiis quaerat laborum ad in commodi veniam
					obcaecati dignissimos expedita sint, deserunt id sapiente qui est?
					Amet.
				</div>

				<div class="card-footer bg-white">
					<a href="#" class="btn btn-danger">
						Delete <i class="bi bi-trash"></i>
					</a>
				</div>
			</div>
			<div class="mt-5">
				<img src="/images/carousel3.jpg" alt="1" class="img-fluid" />

				<div class="card-body">
					<h3>Event name</h3>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vel
					quod mollitia vero blanditiis quaerat laborum ad in commodi veniam
					obcaecati dignissimos expedita sint, deserunt id sapiente qui est?
					Amet.
				</div>

				<div class="card-footer bg-white">
					<a href="#" class="btn btn-danger">
						Delete <i class="bi bi-trash"></i>
					</a>
				</div>
			</div>
			<div class="mt-5">
				<img src="/images/carousel4.jpg" alt="1" class="img-fluid" />

				<div class="card-body">
					<h3>Event name</h3>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vel
					quod mollitia vero blanditiis quaerat laborum ad in commodi veniam
					obcaecati dignissimos expedita sint, deserunt id sapiente qui est?
					Amet.
				</div>

				<div class="card-footer bg-white">
					<a href="#" class="btn btn-danger">
						Delete <i class="bi bi-trash"></i>
					</a>
				</div>
			</div>
			<div class="mt-5">
				<img src="/images/carousel1.jpg" alt="1" class="img-fluid" />

				<div class="card-body">
					<h3>Event name</h3>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam vel
					quod mollitia vero blanditiis quaerat laborum ad in commodi veniam
					obcaecati dignissimos expedita sint, deserunt id sapiente qui est?
					Amet.
				</div>

				<div class="card-footer bg-white">
					<a href="#" class="btn btn-danger">
						Delete <i class="bi bi-trash"></i>
					</a>
				</div>
			</div>
		</div>

		<button
			type="button"
			data-bs-target="#ev1"
			data-bs-toggle="modal"
			class="btn btn-nubsBlue mt-5"
		>
			Add Event Flier <i class="bi bi-plus-lg"></i>
		</button>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="ev1" tabindex="-1">
	<div class="modal-dialog modal-fullscreen-md-down">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Event</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form action="#">
					<div class="form-group">
						<label for="flier" class="lead"> Flier </label>
						<input type="file" accept="image/*" class="form-control" />
					</div>

					<button class="btn btn-nubsBlue rounded-pill mt-4">Save Event</button>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('./layouts/_footer.ejs') %>
