<%- include('./layouts/_header.ejs') %>

<!-- About NUBS-->
<section class="pt-5 pb-2">
	<div class="container">
		<h1>About NUBS</h1>
		<p>
			The National Union of Baptist Students (NUBS) is a Christian students'
			organization comprising of Local Baptist Student Unions. The NUBS is a
			recognized auxiliary of the Ghana Baptist Convention (GBC) The motto of
			NUBS is “Presenting everyman perfect in Christ” as captured in Colossians
			1:28 in the HOLY BIBLE. The slogan of NUBS is “Empowered!! For Action!!!”
			The Union is divided into four geographical zones for easy coordination.
			The Union has four zones namely; Northern Zone Comprising Northern, Upper
			East and Upper West regions. Middle Zone comprising Brong Ahafo and
			Ashanti regions. Southern Zone A comprising Greater Accra, Eastern and
			Volta region. Southern Zone B comprising Western and Central regions.
			These zones have a Zonal Executive Committee (ZEC), which is in charge of
			the general administration of the Zone. The ZEC works hand in hand with
			the National Secretariat. Zonal leadership rotates among the Local Unions
			in each zone. The ZEC comprises of the officers namely: President
			Secretary JNUBS Coordinator BOARDS The Union has boards and various
			committees that deal with certain important issues and matters relevant to
			the growth and development of the Union. The boards assist the National
			Secretariat in their work. There are four boards namely: INFORMATION AND
			RESEARCH BOARD (IRB) - the official reporter for all activities of The
			Union. It also embarks on research regarding salient matters affecting The
			Union. For continuity of work and efficiency, Board is based in the
			University of Ghana, Legon. Christian Development Board (CDB) - assists
			the National Secretariat in ensuring the spiritual growth of The Union.
			They receive prayer requests from all Organs of the Union. The CDB is in
			charge of the Bible Study material used by all locals. For continuity of
			work, efficiency, this board is based in Kwame Nkrumah University of
			Science and Technology, Kumasi. EVANGELISM AND MISSIONS BOARD (EMB) - It
			ensures the successful undertaking of evangelism and mission programs of
			The Union in all Zones. It device strategies and programs for the growth
			and expansion of Nubs and JNUBS Locals all across the country. It also
			assists in the organization and keeping of records on the Annual Student
			Holiday Outreach Program (SHOP) and programs of similar kind. For
			continuity of work, and efficiency, the board is based in University of
			Development Studies, Wa Campus. PROJECT BOARD (PB) - This board supports
			the National Secretariat financially. They undertake viable income
			generating projects to support the Union. They also serve as an advisory
			role to local unions and other groups of the Union who express interest in
			embarking on viable income generating projects. For continuity of work and
			efficiency, the board is based in University of Cape Coast. Junior
			National Union of Baptist Students (JNUBS) The name of the Baptist
			groupings in the secondary schools is Junior Union of Baptist Students.
			The JNUBS is a subsidiary body of NUBS GHANA. JNUBS leads students into
			commitment to Jesus Christ as savior and Lord. They also provide means for
			spiritual growth and Christians maturity and provide opportunities for
			students to study the Christian faith as practiced by the Baptist church.
			CENTRAL PLANNING COMMITTEE (CPC) The CPC works with the National Executive
			Council (NEC). The committee is in charge of planning the various programs
			that are to be executed by the National Secretariat. Some of these
			programs include Fresher's Orientation, Conference of Executives,
			Inter-Tertiary Service, Congress and programs of similar kind initiated by
			the secretariat. The CPC consist of committees with their heads assisted
			by its members.
		</p>
	</div>
</section>

<!-- About NUBS UCC-->
<section class="py-2">
	<div class="container">
		<h1>About NUBS UCC</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla optio
			ipsum repellendus quasi necessitatibus temporibus eaque cum aliquid cumque
			tempora iure, veritatis quod? Praesentium ipsum aspernatur repellendus,
			odio fugit totam modi obcaecati magni id excepturi blanditiis, cumque ad
			sit unde voluptatum quis. Itaque eius nostrum facilis eligendi aut soluta
			deleniti placeat suscipit quasi cumque voluptate quas ducimus, fugit
			pariatur possimus quisquam laboriosam quaerat. Totam ex, dignissimos
			distinctio magni tenetur aliquam aut ut reiciendis, voluptatum quasi
			voluptas fuga rerum voluptatem. Quas, voluptatum architecto! Possimus
			veritatis ad vero cum ab quae dolores explicabo nisi hic illo eos,
			voluptate aliquam nostrum magni exercitationem!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae consequatur
			obcaecati exercitationem quis earum voluptatibus cumque facilis,
			voluptatem vel optio tenetur dignissimos blanditiis libero possimus atque
			sed velit? Consectetur obcaecati consequuntur porro voluptas quisquam
			beatae neque dolorem alias. Quia dolore ipsam earum, recusandae facilis
			maxime. Nulla, beatae ea. Provident, veritatis expedita? Soluta inventore
			iure nostrum in quidem quis deleniti possimus quod tempora quo. Esse
			dolores sequi nulla vitae tempore maiores perferendis dolorum quaerat,
			natus adipisci maxime ut quibusdam non amet odit eum corrupti quo, magni
			iste eligendi, nisi deserunt? Ea cupiditate autem culpa maxime laudantium
			ad! Maiores excepturi quasi sunt.
		</p>
	</div>
</section>

<!-- Current Executives -->
<section class="py-4">
	<div class="container">
		<h1 class="mb-4">Current Executives</h1>
		<div class="row text-center g-4">
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('./layouts/_footer.ejs') %>
