<%- include('./layouts/_header.ejs') %>

<!-- About NUBS-->
<section class="pt-5 pb-2">
	<div class="container">
		<h1>About NUBS</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla optio
			ipsum repellendus quasi necessitatibus temporibus eaque cum aliquid cumque
			tempora iure, veritatis quod? Praesentium ipsum aspernatur repellendus,
			odio fugit totam modi obcaecati magni id excepturi blanditiis, cumque ad
			sit unde voluptatum quis. Itaque eius nostrum facilis eligendi aut soluta
			deleniti placeat suscipit quasi cumque voluptate quas ducimus, fugit
			pariatur possimus quisquam laboriosam quaerat. Totam ex, dignissimos
			distinctio magni tenetur aliquam aut ut reiciendis, voluptatum quasi
			voluptas fuga rerum voluptatem. Quas, voluptatum architecto! Possimus
			veritatis ad vero cum ab quae dolores explicabo nisi hic illo eos,
			voluptate aliquam nostrum magni exercitationem!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae consequatur
			obcaecati exercitationem quis earum voluptatibus cumque facilis,
			voluptatem vel optio tenetur dignissimos blanditiis libero possimus atque
			sed velit? Consectetur obcaecati consequuntur porro voluptas quisquam
			beatae neque dolorem alias. Quia dolore ipsam earum, recusandae facilis
			maxime. Nulla, beatae ea. Provident, veritatis expedita? Soluta inventore
			iure nostrum in quidem quis deleniti possimus quod tempora quo. Esse
			dolores sequi nulla vitae tempore maiores perferendis dolorum quaerat,
			natus adipisci maxime ut quibusdam non amet odit eum corrupti quo, magni
			iste eligendi, nisi deserunt? Ea cupiditate autem culpa maxime laudantium
			ad! Maiores excepturi quasi sunt.
		</p>
	</div>
</section>

<!-- About NUBS UCC-->
<section class="py-2">
	<div class="container">
		<h1>About NUBS UCC</h1>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla optio
			ipsum repellendus quasi necessitatibus temporibus eaque cum aliquid cumque
			tempora iure, veritatis quod? Praesentium ipsum aspernatur repellendus,
			odio fugit totam modi obcaecati magni id excepturi blanditiis, cumque ad
			sit unde voluptatum quis. Itaque eius nostrum facilis eligendi aut soluta
			deleniti placeat suscipit quasi cumque voluptate quas ducimus, fugit
			pariatur possimus quisquam laboriosam quaerat. Totam ex, dignissimos
			distinctio magni tenetur aliquam aut ut reiciendis, voluptatum quasi
			voluptas fuga rerum voluptatem. Quas, voluptatum architecto! Possimus
			veritatis ad vero cum ab quae dolores explicabo nisi hic illo eos,
			voluptate aliquam nostrum magni exercitationem!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae consequatur
			obcaecati exercitationem quis earum voluptatibus cumque facilis,
			voluptatem vel optio tenetur dignissimos blanditiis libero possimus atque
			sed velit? Consectetur obcaecati consequuntur porro voluptas quisquam
			beatae neque dolorem alias. Quia dolore ipsam earum, recusandae facilis
			maxime. Nulla, beatae ea. Provident, veritatis expedita? Soluta inventore
			iure nostrum in quidem quis deleniti possimus quod tempora quo. Esse
			dolores sequi nulla vitae tempore maiores perferendis dolorum quaerat,
			natus adipisci maxime ut quibusdam non amet odit eum corrupti quo, magni
			iste eligendi, nisi deserunt? Ea cupiditate autem culpa maxime laudantium
			ad! Maiores excepturi quasi sunt.
		</p>
	</div>
</section>

<!-- Current Executives -->
<section class="py-4">
	<div class="container">
		<h1 class="mb-4">Current Executives</h1>
		<div class="row text-center g-4">
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/men/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="card text-center shadow-sm">
					<div class="card-body">
						<img
							src="https://randomuser.me/api/portraits/women/11.jpg"
							alt="executive"
							class="rounded-circle"
						/>
						<h5 class="card-title my-2">Name of executive</h5>
						<div class="card-text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae
							natus quisquam saepe explicabo. Id iste, minus quos autem quasi
							est!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('./layouts/_footer.ejs') %>
