<%- include('./layouts/_header.ejs') %>

<!-- Departments in NUBS-->
<section class="pt-5 pb-3">
	<div class="container">
		<h1 class="mb-4">Departments</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti rerum
			eligendi id esse odio atque quis, aperiam est temporibus voluptas
			repellendus minus consequatur aliquid praesentium iste, officia aliquam
			expedita, minima sed exercitationem? Veritatis voluptates sit eligendi
			voluptas itaque a animi, autem vitae quis placeat perferendis laborum
			suscipit exercitationem nihil in?
		</p>
	</div>
</section>

<!-- Wings -->
<section class="py-3">
	<div class="container">
		<h1>Wings</h1>
		<div class="row g-4">
			<div class="card mx-auto px-0 my-5">
				<img
					src="/images/carousel1.jpg"
					alt="wing"
					class="card-img-top img-fluid"
				/>
				<div class="card-body">
					<div class="card-title h4 py-2">Music Wing</div>
					<div class="card-text">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
						mollitia expedita, quia laboriosam placeat iusto perspiciatis
						eligendi nostrum nesciunt delectus illum numquam quasi veniam
						reiciendis quos eveniet beatae adipisci molestiae, explicabo aliquid
						ut dolores recusandae magni! Commodi laudantium molestiae inventore
						hic vero? Quibusdam enim autem eligendi numquam! Et eos impedit,
						odio inventore illo quis. Vel ipsa dicta deserunt optio, odit
						quaerat ad necessitatibus culpa. Quod nulla quidem deserunt culpa,
						praesentium veritatis nobis id perspiciatis architecto at nesciunt
						tempore laborum magni voluptate. Optio vero excepturi quia ipsa
						dignissimos magnam odio similique!
					</div>
				</div>
			</div>

			<div class="card mx-auto px-0 my-5">
				<img
					src="/images/carousel2.jpg"
					alt="wing"
					class="card-img-top img-fluid"
				/>
				<div class="card-body">
					<div class="card-title h4 py-2">Bible Study Wing</div>
					<div class="card-text">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
						mollitia expedita, quia laboriosam placeat iusto perspiciatis
						eligendi nostrum nesciunt delectus illum numquam quasi veniam
						reiciendis quos eveniet beatae adipisci molestiae, explicabo aliquid
						ut dolores recusandae magni! Commodi laudantium molestiae inventore
						hic vero? Quibusdam enim autem eligendi numquam! Et eos impedit,
						odio inventore illo quis. Vel ipsa dicta deserunt optio, odit
						quaerat ad necessitatibus culpa. Quod nulla quidem deserunt culpa,
						praesentium veritatis nobis id perspiciatis architecto at nesciunt
						tempore laborum magni voluptate. Optio vero excepturi quia ipsa
						dignissimos magnam odio similique!
					</div>
				</div>
			</div>

			<div class="card mx-auto px-0 my-5">
				<img
					src="/images/carousel3.jpg"
					alt="wing"
					class="card-img-top img-fluid"
				/>
				<div class="card-body">
					<div class="card-title h4 py-2">Organizing Wing</div>
					<div class="card-text">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
						mollitia expedita, quia laboriosam placeat iusto perspiciatis
						eligendi nostrum nesciunt delectus illum numquam quasi veniam
						reiciendis quos eveniet beatae adipisci molestiae, explicabo aliquid
						ut dolores recusandae magni! Commodi laudantium molestiae inventore
						hic vero? Quibusdam enim autem eligendi numquam! Et eos impedit,
						odio inventore illo quis. Vel ipsa dicta deserunt optio, odit
						quaerat ad necessitatibus culpa. Quod nulla quidem deserunt culpa,
						praesentium veritatis nobis id perspiciatis architecto at nesciunt
						tempore laborum magni voluptate. Optio vero excepturi quia ipsa
						dignissimos magnam odio similique!
					</div>
				</div>
			</div>

			<div class="card mx-auto px-0 my-5">
				<img
					src="/images/carousel4.jpg"
					alt="wing"
					class="card-img-top img-fluid"
				/>
				<div class="card-body">
					<div class="card-title h4 py-2">Evangelism Wing</div>
					<div class="card-text">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
						mollitia expedita, quia laboriosam placeat iusto perspiciatis
						eligendi nostrum nesciunt delectus illum numquam quasi veniam
						reiciendis quos eveniet beatae adipisci molestiae, explicabo aliquid
						ut dolores recusandae magni! Commodi laudantium molestiae inventore
						hic vero? Quibusdam enim autem eligendi numquam! Et eos impedit,
						odio inventore illo quis. Vel ipsa dicta deserunt optio, odit
						quaerat ad necessitatibus culpa. Quod nulla quidem deserunt culpa,
						praesentium veritatis nobis id perspiciatis architecto at nesciunt
						tempore laborum magni voluptate. Optio vero excepturi quia ipsa
						dignissimos magnam odio similique!
					</div>
				</div>
			</div>

			<div class="card mx-auto px-0 my-5">
				<img
					src="/images/carousel1.jpg"
					alt="wing"
					class="card-img-top img-fluid"
				/>
				<div class="card-body">
					<div class="card-title h4 py-2">Drama & Chreography Wing</div>
					<div class="card-text">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
						mollitia expedita, quia laboriosam placeat iusto perspiciatis
						eligendi nostrum nesciunt delectus illum numquam quasi veniam
						reiciendis quos eveniet beatae adipisci molestiae, explicabo aliquid
						ut dolores recusandae magni! Commodi laudantium molestiae inventore
						hic vero? Quibusdam enim autem eligendi numquam! Et eos impedit,
						odio inventore illo quis. Vel ipsa dicta deserunt optio, odit
						quaerat ad necessitatibus culpa. Quod nulla quidem deserunt culpa,
						praesentium veritatis nobis id perspiciatis architecto at nesciunt
						tempore laborum magni voluptate. Optio vero excepturi quia ipsa
						dignissimos magnam odio similique!
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('./layouts/_footer.ejs') %>
