<%- include('./layouts/_header.ejs') %>
<!-- Weekly Activities-->
<section class="pt-5 pb-2">
	<div class="container">
		<h1 class="mb-4">Our Weekly Activities</h1>
		<div class="row g-4">
			<div class="col-sm-6 col-lg-4">
				<div class="card shadow">
					<img src="/images/pic1.jpeg" alt="sunday" class="card-img-top" />
					<div class="card-body">
						<div class="card-title my-3 h3">Sunday Service</div>
						<div class="card-text">
							<p class="mb-0"><strong>Day:</strong> Sunday</p>
							<p class="mb-0"><strong>Time:</strong> 8:00am to 11:30pm</p>
							<p class="mb-0"><strong>Location:</strong> Assembly Hall</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="card shadow">
					<img src="/images/pic1.jpeg" alt="sunday" class="card-img-top" />
					<div class="card-body">
						<div class="card-title my-3 h3">Prayer Force</div>
						<div class="card-text">
							<p class="mb-0"><strong>Day:</strong> Monday</p>
							<p class="mb-0"><strong>Time:</strong> 7:00pm to 8:30pm</p>
							<p class="mb-0"><strong>Location:</strong> Casford Feild</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="card shadow">
					<img src="/images/pic1.jpeg" alt="sunday" class="card-img-top" />
					<div class="card-body">
						<div class="card-title my-3 h3">Midweek Service</div>
						<div class="card-text">
							<p class="mb-0"><strong>Day:</strong> Thursday</p>
							<p class="mb-0"><strong>Time:</strong> 6:30pm to 8:00pm</p>
							<p class="mb-0"><strong>Location:</strong> New Life Baptist</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Semester Program Outline -->
<section class="p-sm-5 my-5">
	<div class="container">
		<h1>Semester Program Outline</h1>
		<a
			href="/NUBS_UCC_program_outline.pdf"
			download="NUBS_Program_outline.pdf"
			class="btn btn-nubsBlue shadow"
		>
			Download Program Outline <i class="bi bi-download"></i>
		</a>
	</div>
</section>

<!-- Upcoming Events -->
<section>
	<div class="container p-sm-5">
		<h1>Up Coming Events</h1>
	</div>

	<div id="events" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/images/carousel2.jpg" class="d-block w-100" alt="1" />
				<div class="carousel-caption d-none d-md-block">
					<a href="/news-events/eventName" class="btn btn-light rounded-pill"
						>Learn more... <i class="bi bi-chevron-right"></i
					></a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/images/carousel3.jpg" class="d-block w-100" alt="2" />
				<div class="carousel-caption d-none d-md-block">
					<a href="#" class="btn btn-light rounded-pill"
						>Learn more... <i class="bi bi-chevron-right"></i
					></a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/images/carousel4.jpg" class="d-block w-100" alt="3" />
				<div class="carousel-caption d-none d-md-block">
					<a href="#" class="btn btn-light rounded-pill"
						>Learn more... <i class="bi bi-chevron-right"></i
					></a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/images/carousel1.jpg" class="d-block w-100" alt="4" />
				<div class="carousel-caption d-none d-md-block">
					<a href="#" class="btn btn-light rounded-pill"
						>Learn more... <i class="bi bi-chevron-right"></i
					></a>
				</div>
			</div>
		</div>
		<button
			class="carousel-control-prev"
			type="button"
			data-bs-target="#events"
			data-bs-slide="prev"
		>
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button
			class="carousel-control-next"
			type="button"
			data-bs-target="#events"
			data-bs-slide="next"
		>
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>

<%- include('./layouts/_footer.ejs') %>
